<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.uberHttpBackend.mapper.UserMapper">
    
    <update id="update">
        update User
        <set>
            <if test = "phone != null">phone = #{phone},</if>
            <if test = "role != null"> role = #{role},</if>
            <if test = "password != null"> password = #{password},</if>
            <if test = "username != null"> username = #{username},</if>
            <if test = "licensePlate != null"> licensePlate = #{licensePlate},</if>
            <if test = "vehicleType != null"> vehicleType = #{vehicleType},</if>
            <if test = "totalTravelDistance != null"> totalTravelDistance = #{totalTravelDistance},</if>
            <if test = "province != null"> province = #{province},</if>
            <if test = "city != null"> city = #{city}</if>
        </set>
        where uID = #{uID}
    </update>


    <!--条件查询-->
    <select id="list" resultType="com.example.uberHttpBackend.pojo.User">
        select *
        from User
        <where>
            <if test ="phone != null and phone != ''">
                phone = #{phone}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </where>
    </select>

</mapper>